
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR ÎN LUNG */
.navbar {
    width: 100vw;              /* toată lățimea ecranului */
    height: 70px;              /* înălțime fixă */
    background-color: #111;

    display: flex;             /* ORIZONTAL */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}

.logo {
    color: white;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;             /* link-uri pe orizontală */
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
.footer {
    width: 100vw;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
