* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    width: 100vw;              
    background-color: #111010;

    display: flex;            
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;            
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
body {
    background-color: #454b5e;   /* gri deschis */
}

.
.footer {
    width: 100vw;
    background-color: #111;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}
@media (max-width: 768px) {

/
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 15px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

 
    .product img {
        height: 120px;
    }

    .product h3 {
        font-size: 16px;
    }

    .product p {
        font-size: 14px;
    }
}
